:root {
    --darkerBlue:#1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: x-small;
}


header,
.hero,
.information,
.quote {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    height: 50px;
    background: var(--darkerBlue);
    font-size: 1.8rem;
}


header .header__container,
.hero .hero__container ,
.information .information__container,
blockquote {
    width: 90dvw;
}

header .header__container {
    list-style: none;
    color: white;
    display: flex;
    justify-content: end;
    gap: 20px;
}


header .header__container li a{
    text-decoration: none;
}

header .header__container li a:link,
 header .header__container li a:visited {
            color: white;
}

header .header__container .header__logo {
   margin-right: auto;
   font-weight: bold;
}

.hero {
    height: 450px;
    background: var(--darkerBlue);
}

.hero .hero__container {
    display: flex;
    height: 200px;
}

.hero__container .hero__right-info,
.hero__container .hero__left-info{
    flex: 1;
}


.hero__container .hero__right-info {
    display: flex;
    justify-content: center;

}
.hero__container .hero__right-info img {
    width: 450px;
}

.hero__container .hero__left-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.hero__container .hero__left-info h1 {
    color: #F9FAF8;
   font-size: 4.8rem;
   font-weight: 900;
}

.hero__container .hero__left-info p {
    font-size: 1.8rem;
    color: #E5E7EB;
}

.hero__container .hero__left-info div input {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    padding: 10px 30px;
    cursor: pointer;
}

.information .information__container {
    display: flex;
   flex-flow: column nowrap;
   gap: 10px;
   justify-content: center;
   align-items: center;
   height: 350px;
}

.information .information__container h1 {
    font-size: 3.6rem;
    color: #1F2937;
}


.information .information__container .information__images-container {
    display: flex;
    gap: 20px;
}

.information .information__container .information__images-container .item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.information .information__container .information__images-container .item .box-image {
width: 200px;
height: 200px;
border: 2px solid #3882F6;
    border-radius: 16px;
flex: auto;
}

.information .information__container .information__images-container .item .text {
width: 200px;
text-align: center;
}

.quote {
    background-color: #E5E7EB;
    height: 450px;
}
.quote blockquote  {
    font-size: 36px;
}
.quote blockquote p {
    text-align: center;
    font-style: italic;
    font-weight: light;
}

.quote blockquote footer {
    text-align: right;
    font-weight: bold;
}
